<div class="row">
    <div class="d-flex mb-3">
        <a href="@Url.Action("Create","Home")" class="btn btn-success btn-sm m-3">Create</a>
        <a href="@Url.Action("SP_GET_REPORT_CRM_BY_SALE","Home")" target="_blank" class="btn btn-success btn-sm m-3">Export summary</a>
        <a href="@Url.Action("SP_GET_REPORT_CRM_BY_STATUS_SALE","Home")" target="_blank" class="btn btn-success btn-sm m-3">Export detail</a>
    </div>
</div>