<div class="row">
    <div class="d-flex mb-3">
        <a href="@Url.Action("Create","Home")" class="btn btn-success btn-sm m-3">Create</a>
        <a href="@Url.Action("SP_GET_REPORT_CRM_BY_SALE","Home")" target="_blank" class="btn btn-success btn-sm m-3">Export summary</a>
        <a href="#" onclick="preexpSP_GET_REPORT_CRM_BY_STATUS_SALE()" class="btn btn-success btn-sm m-3">Export detail</a>
    </div>
</div>

<form id="frmexportdt" asp-action="SP_GET_REPORT_CRM_BY_STATUS_SALE" asp-controller="Home" asp-antiforgery="true" target="_blank" method="post">
       <input id="ddpPriorityexp" name="Priority"/>    
       <input id="ddpStatusexp" name="Status"/>    
       <input id="txtNameexp" name="Name"/>    
       <input id="txtContractexp" name="Contract"/>    
       <input id="txtModeltypeexp" name="Modeltype"/>    
       <input id="txtRemarkexp" name="Remark"/>    
</form>

