<form id="frmexportdt" asp-action="SP_GET_REPORT_CRM_BY_STATUS_SALE" asp-controller="Home" asp-antiforgery="true" target="_blank" method="post">
       <input id="ddpPriorityexp" name="Priority"/>    
       <input id="ddpStatusexp" name="Status"/>    
       <input id="txtNameexp" name="Name"/>    
       <input id="txtContractexp" name="Contract"/>    
       <input id="txtModeltypeexp" name="Modeltype"/>    
       <input id="txtRemarkexp" name="Remark"/>    
       <input id="txtLastupdateexp" name="lastupdate"/>    
       <input id="txtOwnernameexp" name="ownername"/>    
</form>