<div class="modal fade" id="reply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Remark </h1>
                <button id="clsreply" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="ID_REMARK_UPLINE" hidden />
                <input id="ord_group" hidden />
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control" id="remarkreply" rows="3"></textarea>
                    </div>
                </div>
                <div class="row mt-2">
                    <button type="button" class="btn btn-primary" onclick="SaveRemark()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
