<form id="frmsearch" asp-action="Index" asp-controller="Home" asp-antiforgery="true">
        <div class="row">
            <div class="mb-3 col-12">
                <label for="ddpStatus" class="form-label">Status</label>
                <select id="ddpStatus" name="status" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    @if (ViewData["substatus"] != null)
                    {
                        var substatus = ViewData["substatus"] as List<SaleContractAPI.DataContract.substatus>;
                        for (int i = 0; i < substatus.Count; i++)
                        {
                        if (substatus[i].STATUS_CODE == "WON")
                            {
                            <option value="@substatus[i].STATUS_CODE" selected>@substatus[i].STATUS_DESCRIPTION</option>
                            }
                        }
                    }
                </select>
            </div>          
        </div>
        <div class="row">
             <div class="mb-3 col-6">
            <label for="dateTimest" class="form-label">won date</label>
            <input type="text" name="dateTimest" class="form-control" id="dateTimest" placeholder="วันที่เริ่มต้น">
            </div>
            <div class="mb-3 col-6">
            <label for="dateTimeen" class="form-label">To</label>
            <input type="text" name="dateTimeen" class="form-control" id="dateTimeen" placeholder="วันที่สิ้นสุด">
            </div>
        </div>     
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-sm m-3">Search</button>
            <button type="button" class="btn btn-danger btn-sm m-3" onclick="clearbtn()">Clear</button>
        </div>
</form>

