<form id="frmsearch" asp-action="Index" asp-controller="Home" asp-antiforgery="true">
    <div class="row">
        <div class="row">
            <div class="mb-3 col-6">
                <label for="ddpPriority" class="form-label">Priority</label>
                <select id="ddpPriority" name="Priority" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="" selected>- ทั้งหมด -</option>
                    @if (ViewData["priority"] != null)
                    {
                        var priority = ViewData["priority"] as List<SaleContractAPI.DataContract.Priority>;
                        for (int i = 0; i < priority.Count; i++)
                        {
                            <option value="@priority[i].ID">@priority[i].Priority_description</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3 col-6">
                <label for="ddpStatus" class="form-label">Status</label>
                <select id="ddpStatus" name="status" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="" selected>- ทั้งหมด -</option>
                    @if (ViewData["substatus"] != null)
                    {
                        var substatus = ViewData["substatus"] as List<SaleContractAPI.DataContract.substatus>;
                        for (int i = 0; i < substatus.Count; i++)
                        {
                            <option value="@substatus[i].STATUS_CODE">@substatus[i].STATUS_DESCRIPTION</option>
                        }
                    }
                </select>
            </div>          
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="txtName" class="form-label">Name</label>
                <input type="text" name="NAME" class="form-control" id="txtName" placeholder="Name">
            </div>
            <div class="mb-3 col-6">
                <label for="txtContract" class="form-label">Contract</label>
                <input type="text" name="Contract" class="form-control" id="txtContract" placeholder="Contract">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="txtModeltype" class="form-label">ModelType</label>
                <input type="text" name="ModelType" class="form-control" id="txtModeltype" placeholder="ModelType">
            </div>
            <div class="mb-3 col-6">
                <label for="txtRemark" class="form-label">Remark</label>
                <input type="text" name="Remark" class="form-control" id="txtRemark" placeholder="Remark">
            </div>          
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-sm m-3">Search</button>
            <button type="button" class="btn btn-danger btn-sm m-3" onclick="clearbtn()">Clear</button>
        </div>
    </div>
</form>

