@model List<SaleContractAPI.DataContract.company_detail>
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_ButtonsModal.cshtml" />

<!-- Modal Update Status -->
<partial name="_UpdateStatus.cshtml" />

<!-- Modal timeline-->
<partial name="_TimeLine.cshtml" />

<!-- Modal Remark -->
<partial name="_Remark.cshtml" />

<!--  Search -->
<partial name="_SearchInput.cshtml" />

<!--  Buttons -->
<partial name="_Buttons.cshtml" />

@Html.Raw(ViewData["sumarypriority"])
<!--  Buttons -->
<partial name="_Tables.cshtml" />

@section Scripts{
    <script>
        const companydetail = @Html.Raw(Json.Serialize(Model));
        const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        const dateLocation ='en-US'
        const dateformat ='$2/$1/$3'
        $(document).ready(function (){
            new DataTable('#datarender', {
                responsive: true
            });          
        })
        const position ='@ViewData["position"]'
        const clearbtn =()=>{
            let form = document.getElementById("frmsearch");
            form.reset();
        }

        $(document).keydown(function (e) {
            // ตรวจสอบว่าปุ่มที่ถูกกดคือ ESC
            if (e.which === 27) {
                // เรียกฟังก์ชัน JavaScript ที่คุณต้องการ
                closetimeline();
            }
        });

        const closetimeline =()=>{
            $('#cmpcls').click()
        }

        const showedit = (i) => {
            
            $('#companyid').val(companydetail[i].id)
            $('#staticBackdropLabel').text(`ปรับสถานะ ${companydetail[i].name}`)
            $('#edName').val(companydetail[i].name)
            $('#edwebsite').val(companydetail[i].website)
            $('#edContact').val(companydetail[i].contract)
            $('#edPosition').val(companydetail[i].position)
            $('#edEmail').val(companydetail[i].email)
            $('#edMobile').val(companydetail[i].mobile)
            $('#edModelTypes').val(companydetail[i].modelType)
            $('#edLocation').val(companydetail[i].location)
            $('#edPeople').val(companydetail[i].people)
            $('#edDealvalue').val(companydetail[i].dealValue)
            $('#edPersen').val(companydetail[i].persen)
            $('#edpriority').val(companydetail[i].priority)
            $('#edEmployee').val(companydetail[i].Ownerid)
            $('#edEmployee').select2({
                theme: 'bootstrap-5'
            });
            $('#edDealcreationdate').datepicker({
                uiLibrary: 'bootstrap5',
                format: 'dd/mm/yyyy'
            });
            $('#edDuedatefollowup').datepicker({
                uiLibrary: 'bootstrap5',
                format: 'dd/mm/yyyy'
            });
            $('#ednoti').datepicker({
                uiLibrary: 'bootstrap5',
                format: 'dd/mm/yyyy'
            });
            if (companydetail[i].dealCreate) {                          
                $('#edDealcreationdate').val(getdate(companydetail[i].dealCreate))
            }
            if (companydetail[i].dealDateFollowup){             
                $('#edDuedatefollowup').val(getdate(companydetail[i].dealDateFollowup))
            }
            if (companydetail[i].dealDateNoti) {
                $('#ednoti').val(getdate(companydetail[i].dealDateNoti))
            }
        
            $('#showedit').click()
        }

        const showtimeline = (id,name) => {
            $('#companyidstatus').text(`สถานะบริษัท:${name}`)
            $('#renderiframe').html('')
            $('#cmpid').val(id)
            $('#cmpname').val(name)
            $.ajax({
                url: `@Url.Action("GET_TIMELINE","Home")?companyid=${id}`,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                    if (response.success) {
                        if (response.data) {
                            let render = ''
                            
                            console.log(response.data)
                            for (let i = 0; i < response.data.length; i++) {
                                let rederreply = ''
                                let tmpchkdup = '';
                                let mrg = 50;
                                if (response.data[i].remark_Statuses) {
                                    console.log(response.data[i].remark_Statuses)
                                     for(let j = 0; j < response.data[i].remark_Statuses.length; j++) {
                                         rederreply += `<div style="margin-left:${mrg}px;" class="frame">
                                                                              <p><span class="label">Remark ::</span>${response.data[i].remark_Statuses[j].remark}</p>
                                                                                              <p><span class="label">Remark by ::</span>${response.data[i].remark_Statuses[j].remarK_ID}</p>
                                                                                      <p><span class="label">Remark date ::</span>${response.data[i].remark_Statuses[j].remarK_DT}</p>
                                                                               <a href="#" class="reply-link" onclick="showremark('${response.data[i].remark_Statuses[j].id}','${response.data[i].remark_Statuses[j].ord_group??''}')">reply</a>
                                            </div>`;
                                        if (tmpchkdup != response.data[i].remark_Statuses[j].iD_REMARK_UPLINE) {
                                            mrg = mrg + 10;
                                        }
                                        tmpchkdup = response.data[i].remark_Statuses[j].iD_REMARK_UPLINE;
                                     }
                                 }
                                render += `
                                <li>
                                   <div class="frame-main">
                                              <p><strong class="label">change to ::</strong>${response.data[i].status_description}</p>
                                                      <p><strong class="label">change date ::</strong>${formatedate(response.data[i].fsystem_dt)}</p>
                                                      <p><strong class="label">change by ::</strong>${response.data[i].fsystem_id}</p>                                                     
                                                      <p><strong class="label">remark ::</strong>${response.data[i].remark??'-'}</p>
                                                                      <a href="#" class="reply-link" onclick="showremark('${response.data[i].id}','${response.data[i].ord_group}')">reply</a>
                                   </div>
                                           ${rederreply}
                                </li>
                              `
                            }
                            $('#renderiframe').append(render)
                            $('#showtimeline').click()


                        } else {
                            Swal.fire({
                                icon: "waring",
                                title: "Oops...",
                                text: 'ไม่พบข้อมูล'
                            });
                        }

                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }

                },
                error: function () {

                }
            });

        }

        const refreshtimeline = (id, name) => {
            $('#companyidstatus').text(`สถานะบริษัท:${name}`)
            $('#renderiframe').html('')
            $('#cmpid').val(id)
            $('#cmpname').val(name)
            $.ajax({
                url: `@Url.Action("GET_TIMELINE","Home")?companyid=${id}`,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                    if (response.success) {
                        if (response.data) {
                            let render = ''

                            console.log(response.data)
                            for (let i = 0; i < response.data.length; i++) {
                                let rederreply = ''
                                let tmpchkdup = '';
                                let mrg = 50;
                                if (response.data[i].remark_Statuses) {
                                    console.log(response.data[i].remark_Statuses)
                                    for (let j = 0; j < response.data[i].remark_Statuses.length; j++) {
                                        rederreply += `<div style="margin-left:${mrg}px;" class="frame">
                                                                                      <p><span class="label">Remark ::</span>${response.data[i].remark_Statuses[j].remark}</p>
                                                                                                      <p><span class="label">Remark by ::</span>${response.data[i].remark_Statuses[j].remarK_ID}</p>
                                                                                              <p><span class="label">Remark date ::</span>${response.data[i].remark_Statuses[j].remarK_DT}</p>
                                                                                                       <a href="#" class="reply-link" onclick="showremark('${response.data[i].remark_Statuses[j].id}','${response.data[i].remark_Statuses[j].ord_group ?? ''}')">reply</a>
                                                    </div>`;
                                        if (tmpchkdup != response.data[i].remark_Statuses[j].iD_REMARK_UPLINE) {
                                            mrg = mrg + 10;
                                        }
                                        tmpchkdup = response.data[i].remark_Statuses[j].iD_REMARK_UPLINE;
                                    }
                                }
                                render += `
                                        <li>
                                           <div class="frame-main">
                                                      <p><strong class="label">change to ::</strong>${response.data[i].status_description}</p>
                                                              <p><strong class="label">change date ::</strong>${formatedate(response.data[i].fsystem_dt)}</p>
                                                              <p><strong class="label">change by ::</strong>${response.data[i].fsystem_id}</p>
                                                                      <p><strong class="label">remark ::</strong>${response.data[i].remark ?? '-'}</p>
                                                                                                      <a href="#" class="reply-link" onclick="showremark('${response.data[i].id}','${response.data[i].ord_group ?? ''}')">reply</a>
                                           </div>
                                                   ${rederreply}
                                        </li>
                                      `
                            }
                            $('#renderiframe').append(render)
                        } else {
                            Swal.fire({
                                icon: "waring",
                                title: "Oops...",
                                text: 'ไม่พบข้อมูล'
                            });
                        }

                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }

                },
                error: function () {

                }
            });

        }

        const updatestatus = () => {            
            $.ajax({
                url: '@Url.Action("UpdateStatus", "Home")',
                type: 'POST',
                dataType: 'json',
                data: {
                    company_id: $('#companyid').val(),
                    priority: $('#edpriority').val(),
                    status_code: $('#edstatus').val(),
                    remark: $('#remark').val(),
                    noti_dt: $('#ednoti').val(),
                   name: $('#edName').val(),
                   website: $('#edwebsite').val(),
                   contract: $('#edContact').val(),
                    position: $('#edPosition').val(),
                    persen: $('#edPersen').val(),
                   email:  $('#edEmail').val(),
                   mobile:  $('#edMobile').val(),
                   modeltype: $('#edModelTypes').val(),
                   location: $('#edLocation').val(),
                   people: $('#edPeople').val(),
                   dealvalue:$('#edDealvalue').val(),
                   Dealcreationdate:  $('#edDealcreationdate').val(),
                   Duedatefollowup: $('#edDuedatefollowup').val(),
                    owner: $('#edEmployee').val()
                },
                success: function (response) {

                    if (response.success) {

                        Swal.fire("Saved!", "", "success");

                        setTimeout(function () {
                            //your code to be executed after 1 second
                            $('#closemodal').click()
                            $('#frmsearch').submit()
                        }, 2000);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }

                },
                error: function () {

                }
            });

        }

        const getdate =(dtvalue)=>{
            let dt = new Date(dtvalue);
            let dtstr = dt.toLocaleString(dateLocation, options);
            return dtstr.replace(/(\d{2})\/(\d{2})\/(\d{4})/, dateformat);
        }

        const showremark = (id, ord_group) => {
            $('#ID_REMARK_UPLINE').val(id)
            // $('#ID_STATUS_SALE').val(ID_STATUS_SALE)
            $('#ord_group').val(ord_group)
            $('#remarkreply').val('')
            $('#showreply').click()
        }

        const SaveRemark=()=>{
            if (!$('#remarkreply').val()) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "ระบุข้อความ"
                });
                return;
            }
            $.ajax({
                        url: `@Url.Action("INSERT_REMARK_REPLY", "Home")`,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            ID_REMARK_UPLINE: $('#ID_REMARK_UPLINE').val(),
                            // ID_STATUS_SALE: $('#ID_STATUS_SALE').val(),
                            ord_group: $('#ord_group').val(),
                            REMARK: $('#remarkreply').val()
                        },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire("Saved!", "", "success");
                        $('#remarkreply').val('')
                        $('#clsreply').click()
                        let cmpid = $('#cmpid').val()
                        let cmpname = $('#cmpname').val()
                        refreshtimeline(cmpid, cmpname)
                    } else {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: response.error
                                });
                            }

                        },
                        error: function () {

                        }
                    });
        }

        const formatedate = (date) => {
            // แปลงเป็นวัตถุ Date
            let dateObject = new Date(date);

            // จัดรูปแบบวันที่และเวลา
            return `${(dateObject.getDate()).toString().padStart(2, '0')}/${(dateObject.getMonth() + 1).toString().padStart(2, '0')}/${dateObject.getFullYear()} ${dateObject.toLocaleTimeString()}`;
        }

        const duplicatedata = (id) => {
            $.ajax({
                url: `@Url.Action("DuplicateData", "Home")/${id}`,
                type: 'POST',
                dataType: 'json',
                data: {
                    ID:id
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: "Saved!",
                            icon: "success",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.getElementById("frmsearch").submit();
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }

                },
                error: function () {

                }
            });
        }
       
    </script>
}